<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="admin-add-on" transaction-type="RESOURCE_LOCAL">

        <class>com.company.adminaddon.entity.Project</class>
        <class>com.company.adminaddon.entity.Employee</class>
    </persistence-unit>
</persistence>
